import /init.superuser.rc

on init
    export TERMINFO /system/etc/terminfo

on boot
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    restorecon /sys/block/mmcblk0/queue/scheduler

# Governor for Default
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    echo "barry_allen" > /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor # CPU0
    chmod -h 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 777 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    echo "barry_allen" > /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor # CPU1
    chmod -h 0664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    echo "barry_allen" > /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor # CPU2
    chmod -h 0664 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    chmod 777 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
    echo "barry_allen" > /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor # CPU3
    chmod -h 0664 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
